*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: whitesmoke;
}
.form-login{
    border: solid bisque;
    width: 400px;
    height: 350px;
    background: rgb(57, 212, 240);
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px rgb(85, 64, 163);
}
.form-login h4{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 25px;
}
.controles{
    width: 100%;
    border: 1px solid ;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: scroll;
    font-size: 14px;
    font-weight: bold; 
}
.buttons{
    width: 400px;
    height: 40px;
    border: none;
    color: whitesmoke;
    margin-bottom: 16px;
}
.form-login a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}
.form-login a:hover{
    text-decoration: underline;
}